@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 150px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-itens {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 24px;
}

.cabecalho-menu-itens:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    color: #ECD6C4;
    font-weight: 400;
    font-size: 24px;
}

.conteudo-principal-imagem {
    padding-top: 48px;
    height: 350px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 36px;
    color: #FFF2EF;
    margin-bottom: 16px;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.rodape-direito {
    font-family: 'Sarala', sans-serif;
    color: #ECD6C4;
    font-weight: 400;
    font-size: 18px;
}

.rodape-dev {
    font-family: 'Sarala', sans-serif;
    color: #ECD6C4;
    font-weight: 200;
    font-size: 14px;
    text-transform: uppercase;
}